In [1]:
import pandas as pd

In [2]:
surveys_df = pd.read_csv('surveys.csv')

In [3]:
surveys_df[['species_id', 'plot_id']].head()

  species_id  plot_id
0         NL        2
1         NL        3
2         DM        2
3         DM        7
4         DM        3

In [ ]:
nums = [1,2,3,4,5]

In [ ]:
surveys_df.iloc[0:3,1:4]

In [ ]:
surveys_df.loc[0:3,:]

In [ ]:
surveys_df.iloc[0:3,:]

In [23]:
type(surveys_df.loc[[0,10,400000],])

pandas.core.frame.DataFrame

In [38]:
type(surveys_df.iloc[2,6])

str

In [29]:
surveys_df[surveys_df.year != 2002].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [33]:
surveys_df[(surveys_df.year >= 1980)& (surveys_df.year <= 1985)].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2270,2271,1,15,1980,8,DO,M,35.0,53.0
2271,2272,1,15,1980,11,PF,F,16.0,10.0
2272,2273,1,15,1980,18,DM,F,34.0,33.0
2273,2274,1,15,1980,11,DM,M,38.0,37.0
2274,2275,1,15,1980,8,DO,F,33.0,29.0

In [43]:
surveys_df[(surveys_df.year == 1999)& (surveys_df.weight <= 8)]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
29082,29083,1,16,1999,21,RM,M,16.0,8.0
29196,29197,2,20,1999,18,RM,M,18.0,8.0
29421,29422,3,15,1999,16,RM,M,15.0,8.0
29903,29904,10,10,1999,4,PP,M,20.0,7.0
29905,29906,10,10,1999,4,PP,M,21.0,4.0

In [45]:
surveys_df[surveys_df['species_id'].isin(["RM", "PP"])].count()

record_id          5732
month              5732
day                5732
year               5732
plot_id            5732
species_id         5732
sex                5624
hindfoot_length    5469
weight             5559
dtype: int64

In [48]:
surveys_df[(surveys_df.weight >= 0)].count()

record_id          32283
month              32283
day                32283
year               32283
plot_id            32283
species_id         32283
sex                32182
hindfoot_length    30738
weight             32283
dtype: int64

In [54]:
surveys_df[surveys_df['sex'].isin(["M", "F"])].count()

record_id          33038
month              33038
day                33038
year               33038
plot_id            33038
species_id         33038
sex                33038
hindfoot_length    31370
weight             32182
dtype: int64

In [ ]:
surveys_df[(surveys_df['sex']==("M")) ]

In [ ]:
surveys_df[(surveys_df['sex']==("F"))]

In [70]:
surveys_df[~(surveys_df['sex'].isin(["M", "F"]))].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
13,14,7,16,1977,8,DM,NaN,NaN,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
33,34,7,17,1977,17,DM,NaN,NaN,NaN
56,57,7,18,1977,22,DM,NaN,NaN,NaN
76,77,8,19,1977,4,SS,NaN,NaN,NaN

In [75]:
surveys_df[(surveys_df.year >= 1980) 
          & (surveys_df.year <= 1985)
          & ~(surveys_df["species_id"].isnull())
          ].head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
2270,2271,1,15,1980,8,DO,M,35.0,53.0
2271,2272,1,15,1980,11,PF,F,16.0,10.0
2272,2273,1,15,1980,18,DM,F,34.0,33.0
2273,2274,1,15,1980,11,DM,M,38.0,37.0
2274,2275,1,15,1980,8,DO,F,33.0,29.0

In [74]:
surveys_df[(surveys_df.year >= 1980) 
          & (surveys_df.year <= 1985)
          & (surveys_df["species_id"]=='NaN')
          ].head()

Empty DataFrame
Columns: [record_id, month, day, year, plot_id, species_id, sex, hindfoot_length, weight]
Index: []

In [78]:
~(surveys_df["species_id"].isnull())

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
35519     True
35520     True
35521     True
35522     True
35523     True
35524     True
35525     True
35526     True
35527     True
35528     True
35529     True
35530     True
35531     True
35532     True
35533     True
35534     True
35535     True
35536     True
35537     True
35538     True
35539     True
35540     True
35541     True
35542     True
35543     True
35544     True
35545     True
35546     True
35547     True
35548    False
Name: species_id, dtype: bool

In [81]:
pd.isnull(surveys_df).head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True

In [82]:
surveys_df.isnull()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False,True
8,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,True
10,False,False,False,False,False,False,False,False,True
11,False,False,False,False,False,False,False,False,True
12,False,False,False,False,False,False,False,False,True
13,False,False,False,False,False,False,True,True,True
14,False,False,False,False,False,False,False,False,True
15,False,False,False,False,False,False,False,False,True
16,False,False,False,False,False,False,False,False,True
17,False,False,False,False,False,False,False,False,True
18,False,False,False,False,False,False,True,True,True
19,False,False,False,False,False,False,False,False,True
20,False,False,False,False,False,False,False,False,True
21,False,False,False,False,False,False,False,False,True
22,False,False,False,False,False,False,False,False,True
23,False,False,False,False,False,False,False,False,True
24,False,False,False,False,False,False,False,False,True
25,False,False,False,False,False,False,False,False,True
26,False,False,False,False,False,False,False,False,True
27,False,False,False,False,False,False,False,False,True
28,False,False,False,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
35519,False,False,False,False,False,False,True,False,False
35520,False,False,False,False,False,False,False,False,False
35521,False,False,False,False,False,False,False,False,False
35522,False,False,False,False,False,False,False,False,False
35523,False,False,False,False,False,False,False,False,False
35524,False,False,False,False,False,False,False,False,False
35525,False,False,False,False,False,False,False,False,False
35526,False,False,False,False,False,False,False,False,False
35527,False,False,False,False,False,False,True,True,True
35528,False,False,False,False,False,False,False,False,False
35529,False,False,False,False,False,False,False,False,True
35530,False,False,False,False,False,False,False,False,True
35531,False,False,False,False,False,False,False,False,False
35532,False,False,False,False,False,False,False,False,False
35533,False,False,False,False,False,False,False,False,False
35534,False,False,False,False,False,False,False,False,False
35535,False,False,False,False,False,False,False,False,False
35536,False,False,False,False,False,False,False,False,False
35537,False,False,False,False,False,False,False,False,False
35538,False,False,False,False,False,False,False,False,False
35539,False,False,False,False,False,False,False,False,False
35540,False,False,False,False,False,False,False,False,False
35541,False,False,False,False,False,False,False,False,False
35542,False,False,False,False,False,False,False,False,False
35543,False,False,False,False,False,False,True,True,True
35544,False,False,False,False,False,False,True,True,True
35545,False,False,False,False,False,False,True,True,True
35546,False,False,False,False,False,False,False,False,False
35547,False,False,False,False,False,False,False,False,False
35548,False,False,False,False,False,True,True,True,True

In [86]:
surveys_df[pd.isnull(surveys_df).any(axis=1)]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
10,11,7,16,1977,5,DS,F,53.0,NaN
11,12,7,16,1977,7,DM,M,38.0,NaN
12,13,7,16,1977,3,DM,M,35.0,NaN
13,14,7,16,1977,8,DM,NaN,NaN,NaN
14,15,7,16,1977,6,DM,F,36.0,NaN
15,16,7,16,1977,4,DM,F,36.0,NaN
16,17,7,16,1977,3,DS,F,48.0,NaN
17,18,7,16,1977,2,PP,M,22.0,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
19,20,7,17,1977,11,DS,F,48.0,NaN
20,21,7,17,1977,14,DM,F,34.0,NaN
21,22,7,17,1977,15,NL,F,31.0,NaN
22,23,7,17,1977,13,DM,M,36.0,NaN
23,24,7,17,1977,13,SH,M,21.0,NaN
24,25,7,17,1977,9,DM,M,35.0,NaN
25,26,7,17,1977,15,DM,M,31.0,NaN
26,27,7,17,1977,15,DM,M,36.0,NaN
27,28,7,17,1977,11,DM,M,38.0,NaN
28,29,7,17,1977,11,PP,M,NaN,NaN
29,30,7,17,1977,10,DS,F,52.0,NaN
...,...,...,...,...,...,...,...,...,...
35187,35188,11,10,2002,10,NaN,NaN,NaN,NaN
35256,35257,12,7,2002,22,PB,M,26.0,NaN
35259,35260,12,7,2002,21,PB,F,24.0,NaN
35277,35278,12,7,2002,20,AH,NaN,NaN,NaN
35279,35280,12,7,2002,16,PB,M,28.0,NaN
35322,35323,12,8,2002,11,AH,NaN,NaN,NaN
35328,35329,12,8,2002,11,PP,M,NaN,16.0
35370,35371,12,8,2002,14,AH,NaN,NaN,NaN
35378,35379,12,8,2002,15,PB,F,26.0,NaN
35384,35385,12,8,2002,10,NaN,NaN,NaN,NaN
35387,35388,12,29,2002,1,DO,M,35.0,NaN
35403,35404,12,29,2002,2,NL,F,30.0,NaN
35448,35449,12,29,2002,20,OT,F,20.0,NaN
35452,35453,12,29,2002,20,PB,M,28.0,NaN
35457,35458,12,29,2002,20,AH,NaN,NaN,NaN
35477,35478,12,29,2002,24,AH,NaN,NaN,NaN
35485,35486,12,29,2002,16,DO,M,37.0,NaN
35495,35496,12,31,2002,4,PB,NaN,NaN,NaN
35510,35511,12,31,2002,11,DX,NaN,NaN,NaN
35511,35512,12,31,2002,11,US,NaN,NaN,NaN
35512,35513,12,31,2002,11,US,NaN,NaN,NaN
35514,35515,12,31,2002,11,SF,F,27.0,NaN
35519,35520,12,31,2002,9,SF,NaN,24.0,36.0
35527,35528,12,31,2002,13,US,NaN,NaN,NaN
35529,35530,12,31,2002,13,OT,F,20.0,NaN
35530,35531,12,31,2002,13,PB,F,27.0,NaN
35543,35544,12,31,2002,15,US,NaN,NaN,NaN
35544,35545,12,31,2002,15,AH,NaN,NaN,NaN
35545,35546,12,31,2002,15,AH,NaN,NaN,NaN
35548,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [87]:
surveys_df[~(pd.isnull(surveys_df).any(axis=1))]

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63,8,19,1977,3,DM,M,35.0,40.0
63,64,8,19,1977,7,DM,M,37.0,48.0
64,65,8,19,1977,4,DM,F,34.0,29.0
65,66,8,19,1977,4,DM,F,35.0,46.0
66,67,8,19,1977,7,DM,M,35.0,36.0
67,68,8,19,1977,8,DO,F,32.0,52.0
68,69,8,19,1977,2,PF,M,15.0,8.0
69,70,8,19,1977,3,OX,F,21.0,22.0
70,71,8,19,1977,7,DM,F,36.0,35.0
73,74,8,19,1977,8,PF,M,12.0,7.0
74,75,8,19,1977,8,DM,F,32.0,22.0
77,78,8,19,1977,1,PF,M,16.0,9.0
78,79,8,19,1977,7,DM,F,34.0,42.0
80,81,8,19,1977,4,PF,F,14.0,8.0
81,82,8,19,1977,4,DM,F,35.0,41.0
82,83,8,20,1977,6,DM,F,37.0,37.0
83,84,8,20,1977,19,DM,F,35.0,43.0
84,85,8,20,1977,23,DM,F,35.0,41.0
85,86,8,20,1977,18,DM,F,33.0,40.0
86,87,8,20,1977,5,PF,F,11.0,9.0
87,88,8,20,1977,18,DM,F,35.0,45.0
88,89,8,20,1977,12,PP,F,20.0,15.0
89,90,8,20,1977,18,DM,M,35.0,29.0
91,92,8,20,1977,6,DM,M,35.0,39.0
93,94,8,20,1977,18,DM,F,36.0,43.0
94,95,8,20,1977,23,DM,M,38.0,46.0
95,96,8,20,1977,12,DM,M,36.0,41.0
96,97,8,20,1977,18,DM,M,36.0,41.0
97,98,8,20,1977,5,DM,M,38.0,40.0
98,99,8,20,1977,11,DM,M,37.0,45.0
...,...,...,...,...,...,...,...,...,...
35507,35508,12,31,2002,6,PB,F,25.0,35.0
35508,35509,12,31,2002,6,PB,M,26.0,47.0
35509,35510,12,31,2002,6,PB,F,26.0,30.0
35513,35514,12,31,2002,11,PP,M,23.0,18.0
35515,35516,12,31,2002,11,DO,F,35.0,52.0
35516,35517,12,31,2002,11,DM,F,36.0,42.0
35517,35518,12,31,2002,11,DO,M,36.0,38.0
35518,35519,12,31,2002,9,DM,M,37.0,49.0
35520,35521,12,31,2002,9,DM,M,37.0,48.0
35521,35522,12,31,2002,9,DM,F,35.0,45.0
35522,35523,12,31,2002,9,DM,F,36.0,44.0
35523,35524,12,31,2002,9,PB,F,25.0,27.0
35524,35525,12,31,2002,9,OL,M,21.0,26.0
35525,35526,12,31,2002,8,OT,F,20.0,24.0
35526,35527,12,31,2002,13,DO,F,33.0,43.0
35528,35529,12,31,2002,13,PB,F,25.0,25.0
35531,35532,12,31,2002,14,DM,F,34.0,43.0
35532,35533,12,31,2002,14,DM,F,36.0,48.0
35533,35534,12,31,2002,14,DM,M,37.0,56.0
35534,35535,12,31,2002,14,DM,M,37.0,53.0
35535,35536,12,31,2002,14,DM,F,35.0,42.0
35536,35537,12,31,2002,14,DM,F,36.0,46.0
35537,35538,12,31,2002,15,PB,F,26.0,31.0
35538,35539,12,31,2002,15,SF,M,26.0,68.0
35539,35540,12,31,2002,15,PB,F,26.0,23.0
35540,35541,12,31,2002,15,PB,F,24.0,31.0
35541,35542,12,31,2002,15,PB,F,26.0,29.0
35542,35543,12,31,2002,15,PB,F,27.0,34.0
35546,35547,12,31,2002,10,RM,F,15.0,14.0
35547,35548,12,31,2002,7,DO,M,36.0,51.0

In [4]:
surveys_noMF =surveys_df[~(surveys_df['sex'].isin(["M", "F"]))]
surveys_noMF.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
13,14,7,16,1977,8,DM,NaN,NaN,NaN
18,19,7,16,1977,4,PF,NaN,NaN,NaN
33,34,7,17,1977,17,DM,NaN,NaN,NaN
56,57,7,18,1977,22,DM,NaN,NaN,NaN
76,77,8,19,1977,4,SS,NaN,NaN,NaN

In [7]:
surveys_noMF.loc[:,["sex"]]='x'
surveys_noMF.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
13,14,7,16,1977,8,DM,x,NaN,NaN
18,19,7,16,1977,4,PF,x,NaN,NaN
33,34,7,17,1977,17,DM,x,NaN,NaN
56,57,7,18,1977,22,DM,x,NaN,NaN
76,77,8,19,1977,4,SS,x,NaN,NaN

In [8]:
surveys_ok =surveys_df[(surveys_df['sex'].isin(["M", "F"]))
                        & (surveys_df.weight >= 0)]

surveys_ok.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
62,63,8,19,1977,3,DM,M,35.0,40.0
63,64,8,19,1977,7,DM,M,37.0,48.0
64,65,8,19,1977,4,DM,F,34.0,29.0
65,66,8,19,1977,4,DM,F,35.0,46.0
66,67,8,19,1977,7,DM,M,35.0,36.0

In [8]:
%matplotlib inline

/Users/mariastrangas/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [ ]:
surveys_ok.plot(kind="bar")