In [1]:
import pandas as pd

In [2]:
surveys_df = pd.read_csv('surveys.csv')
surveys_df.head()

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN

In [3]:
species_df = pd.read_csv("species.csv")
species_df

   species_id             genus          species     taxa
0          AB        Amphispiza        bilineata     Bird
1          AH  Ammospermophilus          harrisi   Rodent
2          AS        Ammodramus       savannarum     Bird
3          BA           Baiomys          taylori   Rodent
4          CB   Campylorhynchus  brunneicapillus     Bird
5          CM       Calamospiza      melanocorys     Bird
6          CQ        Callipepla         squamata     Bird
7          CS          Crotalus       scutalatus  Reptile
8          CT     Cnemidophorus           tigris  Reptile
9          CU     Cnemidophorus        uniparens  Reptile
10         CV          Crotalus          viridis  Reptile
11         DM         Dipodomys         merriami   Rodent
12         DO         Dipodomys            ordii   Rodent
13         DS         Dipodomys      spectabilis   Rodent
14         DX         Dipodomys              sp.   Rodent
15         EO           Eumeces        obsoletus  Reptile
16         GS          Gambelia            silus  Reptile
17         NL           Neotoma         albigula   Rodent
18         NX           Neotoma              sp.   Rodent
19         OL         Onychomys      leucogaster   Rodent
20         OT         Onychomys         torridus   Rodent
21         OX         Onychomys              sp.   Rodent
22         PB       Chaetodipus          baileyi   Rodent
23         PC            Pipilo        chlorurus     Bird
24         PE        Peromyscus         eremicus   Rodent
25         PF       Perognathus           flavus   Rodent
26         PG         Pooecetes        gramineus     Bird
27         PH       Perognathus         hispidus   Rodent
28         PI       Chaetodipus      intermedius   Rodent
29         PL        Peromyscus         leucopus   Rodent
30         PM        Peromyscus      maniculatus   Rodent
31         PP       Chaetodipus     penicillatus   Rodent
32         PU            Pipilo           fuscus     Bird
33         PX       Chaetodipus              sp.   Rodent
34         RF   Reithrodontomys       fulvescens   Rodent
35         RM   Reithrodontomys        megalotis   Rodent
36         RO   Reithrodontomys         montanus   Rodent
37         RX   Reithrodontomys              sp.   Rodent
38         SA        Sylvilagus        audubonii   Rabbit
39         SB          Spizella          breweri     Bird
40         SC        Sceloporus           clarki  Reptile
41         SF          Sigmodon      fulviventer   Rodent
42         SH          Sigmodon         hispidus   Rodent
43         SO          Sigmodon     ochrognathus   Rodent
44         SS      Spermophilus        spilosoma   Rodent
45         ST      Spermophilus     tereticaudus   Rodent
46         SU        Sceloporus        undulatus  Reptile
47         SX          Sigmodon              sp.   Rodent
48         UL            Lizard              sp.  Reptile
49         UP            Pipilo              sp.     Bird
50         UR            Rodent              sp.   Rodent
51         US           Sparrow              sp.     Bird
52         ZL       Zonotrichia       leucophrys     Bird
53         ZM           Zenaida         macroura     Bird

In [4]:
surveySub = surveys_df.head(10)

In [16]:
vertical_stack = pd.concat([surveySub, surveySublast], axis=0)
vertical_stack

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN
0,35540,12,31,2002,15,PB,F,26.0,23.0
1,35541,12,31,2002,15,PB,F,24.0,31.0
2,35542,12,31,2002,15,PB,F,26.0,29.0
3,35543,12,31,2002,15,PB,F,27.0,34.0
4,35544,12,31,2002,15,US,NaN,NaN,NaN
5,35545,12,31,2002,15,AH,NaN,NaN,NaN
6,35546,12,31,2002,15,AH,NaN,NaN,NaN
7,35547,12,31,2002,10,RM,F,15.0,14.0
8,35548,12,31,2002,7,DO,M,36.0,51.0
9,35549,12,31,2002,5,NaN,NaN,NaN,NaN

In [17]:
vertical_stack.to_csv("out.csv")

In [28]:
surveys_1980 = surveys_df[surveys_df.year == 1980]

surveys_1982 = surveys_df[surveys_df.year == 1982]

years_stack = pd.concat([surveys_1980, surveys_1982], axis=0).reset_index()
years_stack

#years_stack.to_csv("years80_82.csv")

,index,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,2270,2271,1,15,1980,8,DO,M,35.0,53.0
1,2271,2272,1,15,1980,11,PF,F,16.0,10.0
2,2272,2273,1,15,1980,18,DM,F,34.0,33.0
3,2273,2274,1,15,1980,11,DM,M,38.0,37.0
4,2274,2275,1,15,1980,8,DO,F,33.0,29.0
5,2275,2276,1,15,1980,11,DS,M,47.0,132.0
6,2276,2277,1,15,1980,8,PF,M,15.0,8.0
7,2277,2278,1,15,1980,9,OT,M,21.0,23.0
8,2278,2279,1,15,1980,11,DM,F,36.0,36.0
9,2279,2280,1,15,1980,21,OT,F,20.0,21.0
10,2280,2281,1,15,1980,11,OL,M,20.0,29.0
11,2281,2282,1,15,1980,17,DM,F,36.0,49.0
12,2282,2283,1,15,1980,11,OL,M,21.0,23.0
13,2283,2284,1,15,1980,9,OL,M,20.0,32.0
14,2284,2285,1,15,1980,10,OL,F,20.0,24.0
15,2285,2286,1,15,1980,11,DM,M,38.0,47.0
16,2286,2287,1,15,1980,21,OT,M,19.0,22.0
17,2287,2288,1,15,1980,19,RM,F,17.0,12.0
18,2288,2289,1,15,1980,20,DS,F,52.0,150.0
19,2289,2290,1,15,1980,11,DM,M,37.0,49.0
20,2290,2291,1,15,1980,9,OL,F,21.0,34.0
21,2291,2292,1,15,1980,12,DM,F,35.0,40.0
22,2292,2293,1,15,1980,18,DS,F,51.0,132.0
23,2293,2294,1,15,1980,22,DM,F,34.0,25.0
24,2294,2295,1,15,1980,9,OL,M,21.0,36.0
25,2295,2296,1,15,1980,8,DO,F,34.0,50.0
26,2296,2297,1,15,1980,11,DM,M,37.0,45.0
27,2297,2298,1,15,1980,17,DM,M,35.0,47.0
28,2298,2299,1,15,1980,9,DM,M,38.0,46.0
29,2299,2300,1,15,1980,18,DM,F,32.0,29.0
...,...,...,...,...,...,...,...,...,...,...
3363,7105,7106,11,22,1982,9,DS,F,50.0,132.0
3364,7106,7107,11,22,1982,1,DO,M,36.0,50.0
3365,7107,7108,11,22,1982,12,PF,F,16.0,7.0
3366,7108,7109,11,22,1982,9,DS,M,49.0,130.0
3367,7109,7110,11,22,1982,11,PF,M,16.0,6.0
3368,7110,7111,11,22,1982,4,PF,M,15.0,6.0
3369,7111,7112,11,22,1982,1,DO,F,34.0,49.0
3370,7112,7113,11,22,1982,4,DS,F,52.0,119.0
3371,7113,7114,11,22,1982,11,DS,F,51.0,111.0
3372,7114,7115,11,22,1982,1,OL,M,19.0,26.0
3373,7115,7116,11,22,1982,2,DO,F,35.0,45.0
3374,7116,7117,11,22,1982,4,DM,F,33.0,45.0
3375,7117,7118,11,22,1982,1,OL,M,21.0,39.0
3376,7118,7119,11,22,1982,2,DO,F,36.0,43.0
3377,7119,7120,11,22,1982,5,DM,M,37.0,46.0
3378,7120,7121,11,22,1982,8,DS,F,50.0,106.0
3379,7121,7122,11,22,1982,8,PF,M,15.0,6.0
3380,7122,7123,11,22,1982,1,DM,F,33.0,35.0
3381,7123,7124,11,22,1982,3,PF,M,15.0,6.0
3382,7124,7125,11,22,1982,4,DS,F,48.0,122.0
3383,7125,7126,11,22,1982,5,DM,M,35.0,41.0
3384,7126,7127,11,22,1982,5,OL,M,22.0,43.0
3385,7127,7128,11,22,1982,9,DM,F,33.0,36.0
3386,7128,7129,11,22,1982,12,DS,F,48.0,102.0
3387,7129,7130,11,22,1982,1,DM,M,37.0,48.0
3388,7130,7131,11,22,1982,6,OT,F,19.0,27.0
3389,7131,7132,11,22,1982,11,DM,M,36.0,45.0
3390,7132,7133,11,22,1982,1,DM,F,34.0,35.0
3391,7133,7134,11,22,1982,6,OT,M,21.0,24.0
3392,7134,7135,11,22,1982,12,DM,M,37.0,41.0

In [53]:
surveySub = surveys_df.head(10)
surveySub

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN

In [5]:
surveySub

,record_id,month,day,year,plot_id,species_id,sex,hindfoot_length,weight
0,1,7,16,1977,2,NL,M,32.0,NaN
1,2,7,16,1977,3,NL,M,33.0,NaN
2,3,7,16,1977,2,DM,F,37.0,NaN
3,4,7,16,1977,7,DM,M,36.0,NaN
4,5,7,16,1977,3,DM,M,35.0,NaN
5,6,7,16,1977,1,PF,M,14.0,NaN
6,7,7,16,1977,2,PE,F,NaN,NaN
7,8,7,16,1977,1,DM,M,37.0,NaN
8,9,7,16,1977,1,DM,F,34.0,NaN
9,10,7,16,1977,6,PF,F,20.0,NaN

In [6]:
species_df.columns

Index([u'species_id', u'genus', u'species', u'taxa'], dtype='object')

In [7]:
surveySub['species_id']

0    NL
1    NL
2    DM
3    DM
4    DM
5    PF
6    PE
7    DM
8    DM
9    PF
Name: species_id, dtype: object

In [11]:
merged_inner = pd.merge(left="surveySub", 
                        right="species_df", 
                        left_on="species_id",
                        right_on="species_id")

ValueError: can not merge DataFrame with instance of type <type 'str'>